.container{

    background-color: chartreuse;
    width: 800px;
    height: 800px;
    /* display: flex; */
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    /* grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 100px 2fr 100px;  */
grid-template-columns: 122px 122px 122px;
grid-template-rows: 122px 122px 122px;



}
.item{
    /* height: 130px;
    width: 130px; */
    border: 2px solid red;
    background-color: beige;
    grid-column-end: 4 ;
   

}
.header{
    background-color: brown;
    /* grid-row-start: 1;
    grid-row-end: 4; */
    grid-column-start: 1;
    grid-column-end: 4 ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    grid-column-start: 1;
    grid-column-end: 4;
    
}

